@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #ffffff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nuxt-app {
    min-height: 90vh;
}

.app-width {
    width: 92%;
    max-width: 1200px;
}

.app-max-width {
    width: 92%;
    max-width: 1400px;
}

.app-min-width {
    width: 92%;
    max-width: 1000px;
}

.app-min2-width {
    width: 92%;
    max-width: 800px;
}

.app-min3-width {
    width: 92%;
    max-width: 600px;
}

.tab-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px #003543 solid;
    margin-top: 40px;
    position: sticky;
    /* top: 70px; */
    /* z-index: 10; */
    background: #002028;
    height: fit-content;
}

.tab-container .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container .tabs .item {
    padding: 0 20px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    color: white;
}

.tab-container .tabs i {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container .tabs .item p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.tab-container .tabs .indicator {
    height: 5px;
    width: 100%;
    background: #003543;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.ellipsis {
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

@media screen and (max-width: 700px) {
    .single {
        /* font-size: 12px !important; */
    }
}